@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* default font family styles */
body{
    font-family: 'Poppins', sans-serif !important;
}
.overlay-dark:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        opacity: 0.6;
        z-index: 1;
      }
.zindex-custom{
    z-index: 10; 
}      
.bg-gold{
    color: #FBBF24;
}
.bg-gold-fade{
    color: #FCD34D;
}